{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
<section class="conteudo">
  <section class="banner">
    <img class="banner__imagem" src="{% static '/assets/imagens/Banner(2).png' %}" alt="banner Alura Space">
    <h1 class="banner__titulo"> The most complete gallery of space images!</h1>
  </section>
  <section class="tags">
    <p class="tags__titulo">Search by tags:</p>
    <ul class="tags__lista">
      <li class="tags__tag"><a href="{% url 'filter' 'NEBULA' %}" style="color: #C9C9C9; text-decoration: none;">Nebula</a></li>
      <li class="tags__tag"><a href="{% url 'filter' 'STAR' %}" style="color: #C9C9C9; text-decoration: none;">Star</a></li>
      <li class="tags__tag"><a href="{% url 'filter' 'GALAXY' %}" style="color: #C9C9C9; text-decoration: none;">Galaxy</a></li>
      <li class="tags__tag"><a href="{% url 'filter' 'PLANET' %}" style="color: #C9C9C9; text-decoration: none;">Planet</a></li>
    </ul>
  </section>
  <section class="galeria">
    <div class="cards">
      <h2 class="cards__titulo">Navigate through the gallery</h2>
      <ul class="cards__lista">
        {% for picture in cards %}
        <li class="image__card">
          <a href="{% url 'image' picture.id %}">
            {% if picture.image == "" or picture.image == null %}
            <img class="card__imagem" src="{% static '/assets/imagens/galeria/not-found.png'%}" alt="foto">
        {% else %}
            <img class="card__imagem" src="{{ picture.image.url }}" alt="foto">
        {% endif %}
          </a>
          <span class="card__tag">{{picture.category}}</span>
          <div class="card__info">
            <p class="card__titulo">{{picture.title}}</p>
            <div class="card__texto">
              <p class="card__descricao">{{picture.font}}</p>
              <span>
                <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
              </span>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
</section>
</main>
</div>
{% endblock %}